name: Unit Tests
run-name: Unit tests
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
    
jobs:
  backend-unit-tests:
    name: Back-end
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./back
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v1
        with:
          java-version: '11'
      - name: Run unit tests
        run: mvn -B test --file pom.xml jacoco:report
      - name: Upload Jacoco report
        uses: actions/upload-artifact@v4
        with:
          name: Jacoco Reports
          path: back/target/site/jacoco/
      - name: Build and analyze
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
        run: mvn -B verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar


  frontend-unit-tests:
    name: Front-end
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./front
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
      - run: npm install
      - run: npm run test -- --watch=false --browsers=ChromeHeadless --code-coverage
      - name: Upload Karma report
        uses: actions/upload-artifact@v4
        with:
          name: Karma Reports
          path: front/coverage/bobapp
      - name: install scanner
        run: npm install -g sonarqube-scanner
      - name: run sonar scanner
        run: sonar-scanner -Dsonar.token=${{secrets.SONAR_TOKEN}}


  build-push-dockers:
    needs: [backend-unit-tests, frontend-unit-tests]

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push back
        uses: docker/build-push-action@v5
        with:
          context: ./back
          file: ./back/Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/bobapp-back:latest

      - name: Build and push front
        uses: docker/build-push-action@v5
        with:
          context: ./front
          file: ./front/Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/bobapp-front:latest
